# Python for Webscraping
* SOC 590: Big Data and Population Processes
* 17th October 2016

## Tutorial 2: Webscraping with a function

In [1]:
import os
import urllib
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup

%matplotlib inline

In [2]:
def extract_page_data(table_rows):
    """
    Extract and return the the desired information from the td elements within
    the table rows.
    """
    # create the empty list to store the player data
    rows = []
    for row in soup.findAll('tr'):
        rows.append([val.text for val in row.find_all('td')])
        
    return rows[1:]

In [3]:
us_news_rankings = []
errors_list = []

In [4]:
url_template = 'http://grad-schools.usnews.rankingsandreviews.com/best-graduate-schools/top-humanities-schools/sociology-rankings/page+{page_number}'

# for each page from 1 to (and including) 4
for page_number in range(1, 5): 
    
    # Use try/except block to catch and inspect any urls that cause an error
    try:
        # get the draft url
        url = url_template.format(page_number=page_number)

        # get the html
        html = urllib.request.urlopen(url)

        # create the BeautifulSoup object
        soup = BeautifulSoup(html, "lxml") 

        # get the column headers
        headers = [header.text for header in soup.findAll('th')]
        
        # start etracting rows
        table_rows = soup.select('td')[1:]
        
        school_data = extract_page_data(table_rows)
        
        # create the dataframe for the current page
        school_df = pd.DataFrame(school_data, columns=headers)
        school_df = pd.DataFrame(school_data)

        # append the current dataframe to the list of dataframes
        us_news_rankings.append(school_df)
    
    except Exception as e:
        # Store the url and the error it causes in a list
        error =[url, e] 
        # then append it to the list of errors
        errors_list.append(error)

In [5]:
us_news_rankings

[                                                0  \
 0    \n\n#1Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 1    \n\n#1Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 2    \n\n#1Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 3                 \n\ndblclick('rankingsEmbed')\n
 4    \n\n#4Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 5    \n\n#4Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 6    \n\n#6Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 7    \n\n#6Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 8    \n\n#6Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 9       \n\n#9\n\n\nOverall Score: \n\n\n\n\n\n\n
 10  \n\n#10Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 11  \n\n#10Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 12  \n\n#12Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 13  \n\n#12Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 14  \n\n#14Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 15  \n\n#14Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 16     \n\n#16\n\n\nOverall Score: \n\n\n\n\n\n\n
 17  \n\n#17Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 18  \n\n#17Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 19  \n\n#17Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 20  \n\n#20Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 21  \n\n#20Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 22  \n\n#20Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 23  \n\n#20Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 24     \n\n#24\n\n\nOverall Score: \n\n\n\n\n\n\n
 25  \n\n#25Tie\n\n\nOverall Score: \n\n\n\n\n\n\n

                                                     1  \
 0          \nPrinceton University \n\nPrinceton, NJ\n
 1   \nUniversity of California—​Berkeley \n\nBerke...
 2   \nUniversity of Wisconsin—​Madison \n\nMadison...
 3                                                None
 4            \nStanford University \n\nStanford, CA\n
 5   \nUniversity of Michigan—​Ann Arbor \n\nAnn Ar...
 6            \nHarvard University \n\nCambridge, MA\n
 7           \nUniversity of Chicago \n\nChicago, IL\n
 8   \nUniversity of North Carolina—​Chapel Hill \n...
 9   \nUniversity of California—​Los Angeles \n\nLo...
 10       \nNorthwestern University \n\nEvanston, IL\n
 11  \nUniversity of Pennsylvania \n\nPhiladelphia,...
 12           \nColumbia University \n\nNew York, NY\n
 13  \nIndiana University—​Bloomington \n\nBlooming...
 14                 \nDuke University \n\nDurham, NC\n
 15     \nUniversity of Texas—​Austin \n\nAustin, TX\n
 16           \nNew York University \n\nNew York, NY\n
 17              \nCornell University \n\nIthaca, NY\n
 18         \nOhio State University \n\nColumbus, OH\n
 19  \nPennsylvania State University—​University Pa...
 20           \nUniversity of Arizona \n\nTucson, AZ\n
 21  \nUniversity of Minnesota—​Twin Cities \n\nMin...
 22       \nUniversity of Washington \n\nSeattle, WA\n
 23              \nYale University \n\nNew Haven, CT\n
 24  \nUniversity of Maryland—​College Park \n\nCol...
 25            \nBrown University \n\nProvidence, RI\n

                                                     2
 0   \n\n                \n\n                \n\n  ...
 1   \n\n                \n\n                \n\n  ...
 2   \n\n                \n\n                \n\n  ...
 3                                                None
 4   \n\n                \n\n                \n\n  ...
 5   \n\n                \n\n                \n\n  ...
 6   \n\n                \n\n                \n\n  ...
 7   \n\n                \n\n                \n\n  ...
 8   \n\n                \n\n                \n\n  ...
 9   \n\n                \n\n                \n\n  ...
 10  \n\n                \n\n                \n\n  ...
 11  \n\n                \n\n                \n\n  ...
 12  \n\n                \n\n                \n\n  ...
 13  \n\n                \n\n                \n\n  ...
 14  \n\n                \n\n                \n\n  ...
 15  \n\n                \n\n                \n\n  ...
 16  \n\n                \n\n                \n\n  ...
 17  \n\n                \n\n                \n\n  ...
 18  \n\n                \n\n                \n\n  ...
 19  \n\n                \n\n                \n\n  ...
 20  \n\n                \n\n                \n\n  ...
 21  \n\n                \n\n                \n\n  ...
 22  \n\n                \n\n                \n\n  ...
 23  \n\n                \n\n                \n\n  ...
 24  \n\n                \n\n                \n\n  ...
 25  \n\n                \n\n                \n\n  ...  ,
                                                 0  \
 0   \n\n#25Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 1      \n\n#27\n\n\nOverall Score: \n\n\n\n\n\n\n
 2   \n\n#28Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 3                 \n\ndblclick('rankingsEmbed')\n
 4   \n\n#28Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 5   \n\n#28Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 6   \n\n#31Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 7   \n\n#31Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 8   \n\n#31Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 9   \n\n#31Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 10  \n\n#35Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 11  \n\n#35Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 12  \n\n#35Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 13  \n\n#35Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 14  \n\n#39Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 15  \n\n#39Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 16  \n\n#39Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 17  \n\n#42Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 18  \n\n#42Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 19  \n\n#42Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 20  \n\n#42Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 21  \n\n#46Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 22  \n\n#46Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 23  \n\n#46Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 24  \n\n#46Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 25  \n\n#46Tie\n\n\nOverall Score: \n\n\n\n\n\n\n

                                                     1  \
 0   \nUniversity of California—​Irvine \n\nIrvine,...
 1      \nJohns Hopkins University \n\nBaltimore, MD\n
 2   \nCUNY Graduate School and University Center \...
 3                                                None
 4   \nRutgers, The State University of New Jersey—...
 5       \nUniversity at Albany—​SUNY \n\nAlbany, NY\n
 6   \nUniversity of California—​Davis \n\nDavis, CA\n
 7   \nUniversity of California—​Santa Barbara \n\n...
 8   \nUniversity of Massachusetts—​Amherst \n\nAmh...
 9         \nVanderbilt University \n\nNashville, TN\n
 10               \nEmory University \n\nAtlanta, GA\n
 11  \nUniversity of California—​San Diego \n\nLa J...
 12           \nUniversity of Iowa \n\nIowa City, IA\n
 13  \nUniversity of Virginia \n\nCharlottesville, ...
 14   \nFlorida State University \n\nTallahassee, FL\n
 15  \nUniversity of Illinois—​Chicago \n\nChicago,...
 16  \nUniversity of Southern California \n\nLos An...
 17  \nStony Brook University—​SUNY \n\nStony Brook...
 18  \nUniversity of California—​Riverside \n\nRive...
 19  \nUniversity of Illinois—​Urbana-​Champaign \n...
 20    \nUniversity of Notre Dame \n\nNotre Dame, IN\n
 21           \nBoston College \n\nChestnut Hill, MA\n
 22  \nMichigan State University \n\nEast Lansing, ...
 23  \nTexas A&M University—​College Station \n\nCo...
 24  \nUniversity of Colorado—​Boulder \n\nBoulder,...
 25           \nUniversity of Georgia \n\nAthens, GA\n

                                                     2
 0   \n\n                \n\n                \n\n  ...
 1   \n\n                \n\n                \n\n  ...
 2   \n\n                \n\n                \n\n  ...
 3                                                None
 4   \n\n                \n\n                \n\n  ...
 5   \n\n                \n\n                \n\n  ...
 6   \n\n                \n\n                \n\n  ...
 7   \n\n                \n\n                \n\n  ...
 8   \n\n                \n\n                \n\n  ...
 9   \n\n                \n\n                \n\n  ...
 10  \n\n                \n\n                \n\n  ...
 11  \n\n                \n\n                \n\n  ...
 12  \n\n                \n\n                \n\n  ...
 13  \n\n                \n\n                \n\n  ...
 14  \n\n                \n\n                \n\n  ...
 15  \n\n                \n\n                \n\n  ...
 16  \n\n                \n\n                \n\n  ...
 17  \n\n                \n\n                \n\n  ...
 18  \n\n                \n\n                \n\n  ...
 19  \n\n                \n\n                \n\n  ...
 20  \n\n                \n\n                \n\n  ...
 21  \n\n                \n\n                \n\n  ...
 22  \n\n                \n\n                \n\n  ...
 23  \n\n                \n\n                \n\n  ...
 24  \n\n                \n\n                \n\n  ...
 25  \n\n                \n\n                \n\n  ...  ,
                                                 0  \
 0   \n\n#46Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 1   \n\n#52Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 2   \n\n#52Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 3                 \n\ndblclick('rankingsEmbed')\n
 4   \n\n#52Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 5   \n\n#52Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 6   \n\n#52Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 7   \n\n#52Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 8   \n\n#52Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 9   \n\n#59Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 10  \n\n#59Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 11  \n\n#59Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 12  \n\n#59Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 13  \n\n#59Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 14  \n\n#64Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 15  \n\n#64Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 16  \n\n#64Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 17  \n\n#64Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 18  \n\n#64Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 19  \n\n#69Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 20  \n\n#69Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 21  \n\n#69Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 22  \n\n#69Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 23  \n\n#69Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 24  \n\n#74Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 25  \n\n#74Tie\n\n\nOverall Score: \n\n\n\n\n\n\n

                                                     1  \
 0     \nWashington State University \n\nPullman, WA\n
 1             \nBrandeis University \n\nWaltham, MA\n
 2   \nNorth Carolina State University \n\nRaleigh,...
 3                                                None
 4   \nPurdue University—​West Lafayette \n\nWest L...
 5   \nUniversity of California—​San Francisco \n\n...
 6        \nUniversity of Connecticut \n\nStorrs, CT\n
 7       \nUniversity of Florida \n\nGainesville, FL\n
 8     \nUniversity of Pittsburgh \n\nPittsburgh, PA\n
 9          \nArizona State University \n\nTempe, AZ\n
 10               \nBoston University \n\nBoston, MA\n
 11                    \nNew School \n\nNew York, NY\n
 12  \nUniversity of California—​Santa Cruz \n\nSan...
 13            \nUniversity of Oregon \n\nEugene, OR\n
 14  \nBowling Green State University \n\nBowling G...
 15         \nNortheastern University \n\nBoston, MA\n
 16         \nTemple University \n\nPhiladelphia, PA\n
 17          \nUniversity of Delaware \n\nNewark, DE\n
 18          \nUniversity of Kansas \n\nLawrence, KS\n
 19  \nBinghamton University—​SUNY \n\nBinghamton, ...
 20           \nSyracuse University \n\nSyracuse, NY\n
 21  \nUniversity of Nebraska—​Lincoln \n\nLincoln,...
 22  \nUniversity of South Carolina \n\nColumbia, SC\n
 23               \nVirginia Tech \n\nBlacksburg, VA\n
 24             \nIowa State University \n\nAmes, IA\n
 25  \nTeachers College, Columbia University \n\nNe...

                                                     2
 0   \n\n                \n\n                \n\n  ...
 1   \n\n                \n\n                \n\n  ...
 2   \n\n                \n\n                \n\n  ...
 3                                                None
 4   \n\n                \n\n                \n\n  ...
 5   \n\n                \n\n                \n\n  ...
 6   \n\n                \n\n                \n\n  ...
 7   \n\n                \n\n                \n\n  ...
 8   \n\n                \n\n                \n\n  ...
 9   \n\n                \n\n                \n\n  ...
 10  \n\n                \n\n                \n\n  ...
 11  \n\n                \n\n                \n\n  ...
 12  \n\n                \n\n                \n\n  ...
 13  \n\n                \n\n                \n\n  ...
 14  \n\n                \n\n                \n\n  ...
 15  \n\n                \n\n                \n\n  ...
 16  \n\n                \n\n                \n\n  ...
 17  \n\n                \n\n                \n\n  ...
 18  \n\n                \n\n                \n\n  ...
 19  \n\n                \n\n                \n\n  ...
 20  \n\n                \n\n                \n\n  ...
 21  \n\n                \n\n                \n\n  ...
 22  \n\n                \n\n                \n\n  ...
 23  \n\n                \n\n                \n\n  ...
 24  \n\n                \n\n                \n\n  ...
 25  \n\n                \n\n                \n\n  ...  ,
                                                     0  \
 0       \n\n#76Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 1       \n\n#76Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 2       \n\n#78Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 3                     \n\ndblclick('rankingsEmbed')\n
 4       \n\n#78Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 5       \n\n#78Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 6       \n\n#78Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 7       \n\n#78Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 8       \n\n#78Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 9       \n\n#84Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 10      \n\n#84Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 11      \n\n#84Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 12      \n\n#84Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 13      \n\n#84Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 14      \n\n#84Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 15      \n\n#84Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 16      \n\n#84Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 17      \n\n#84Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 18      \n\n#84Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 19      \n\n#94Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 20      \n\n#94Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 21      \n\n#94Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 22      \n\n#94Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 23      \n\n#94Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 24      \n\n#94Tie\n\n\nOverall Score: \n\n\n\n\n\n\n
 25  \n\n                RNP\n                \n   ...

                                                     1  \
 0        \nGeorgia State University \n\nAtlanta, GA\n
 1   \nLouisiana State University—​Baton Rouge \n\n...
 2   \nCase Western Reserve University \n\nClevelan...
 3                                                None
 4       \nLoyola University Chicago \n\nChicago, IL\n
 5           \nTulane University \n\nNew Orleans, LA\n
 6     \nUniversity at Buffalo—​SUNY \n\nBuffalo, NY\n
 7         \nUniversity of Missouri \n\nColumbia, MO\n
 8    \nUniversity of New Mexico \n\nAlbuquerque, NM\n
 9          \nAmerican University \n\nWashington, DC\n
 10                 \nBaylor University \n\nWaco, TX\n
 11  \nColorado State University \n\nFort Collins, ...
 12           \nHoward University \n\nWashington, DC\n
 13             \nKent State University \n\nKent, OH\n
 14  \nSouthern Illinois University—​Carbondale \n\...
 15       \nUniversity of Kentucky \n\nLexington, KY\n
 16       \nUniversity of Miami \n\nCoral Gables, FL\n
 17     \nUniversity of New Hampshire \n\nDurham, NH\n
 18  \nUniversity of Tennessee—​Knoxville \n\nKnoxv...
 19  \nBrigham Young University—​Provo \n\nProvo, UT\n
 20               \nFordham University \n\nBronx, NY\n
 21  \nUniversity of Alabama—​Birmingham \n\nBirmin...
 22    \nUniversity of Cincinnati \n\nCincinnati, OH\n
 23  \nUniversity of Nevada—​Las Vegas \n\nLas Vega...
 24          \nUniversity of Oklahoma \n\nNorman, OK\n
 25  \nThe Catholic University of America \n\nWashi...

                                                     2
 0   \n\n                \n\n                \n\n  ...
 1   \n\n                \n\n                \n\n  ...
 2   \n\n                \n\n                \n\n  ...
 3                                                None
 4   \n\n                \n\n                \n\n  ...
 5   \n\n                \n\n                \n\n  ...
 6   \n\n                \n\n                \n\n  ...
 7   \n\n                \n\n                \n\n  ...
 8   \n\n                \n\n                \n\n  ...
 9   \n\n                \n\n                \n\n  ...
 10  \n\n                \n\n                \n\n  ...
 11  \n\n                \n\n                \n\n  ...
 12  \n\n                \n\n                \n\n  ...
 13  \n\n                \n\n                \n\n  ...
 14  \n\n                \n\n                \n\n  ...
 15  \n\n                \n\n                \n\n  ...
 16  \n\n                \n\n                \n\n  ...
 17  \n\n                \n\n                \n\n  ...
 18  \n\n                \n\n                \n\n  ...
 19  \n\n                \n\n                \n\n  ...
 20  \n\n                \n\n                \n\n  ...
 21  \n\n                \n\n                \n\n  ...
 22  \n\n                \n\n                \n\n  ...
 23  \n\n                \n\n                \n\n  ...
 24  \n\n                \n\n                \n\n  ...
 25  \n\n                \n\n                \n\n  ...  ]

In [6]:
us_news_df_raw = pd.concat(us_news_rankings, axis=0)
column_headers = ["rank", "school", "score"]
us_news_df_raw.columns = column_headers

In [7]:
us_news_df_raw.head(10)

,rank,school,score
0,\n\n#1Tie\n\n\nOverall Score: \n\n\n\n\n\n\n,"\nPrinceton University \n\nPrinceton, NJ\n",\n\n \n\n \n\n ...
1,\n\n#1Tie\n\n\nOverall Score: \n\n\n\n\n\n\n,\nUniversity of California—​Berkeley \n\nBerke...,\n\n \n\n \n\n ...
2,\n\n#1Tie\n\n\nOverall Score: \n\n\n\n\n\n\n,\nUniversity of Wisconsin—​Madison \n\nMadison...,\n\n \n\n \n\n ...
3,\n\ndblclick('rankingsEmbed')\n,None,None
4,\n\n#4Tie\n\n\nOverall Score: \n\n\n\n\n\n\n,"\nStanford University \n\nStanford, CA\n",\n\n \n\n \n\n ...
5,\n\n#4Tie\n\n\nOverall Score: \n\n\n\n\n\n\n,\nUniversity of Michigan—​Ann Arbor \n\nAnn Ar...,\n\n \n\n \n\n ...
6,\n\n#6Tie\n\n\nOverall Score: \n\n\n\n\n\n\n,"\nHarvard University \n\nCambridge, MA\n",\n\n \n\n \n\n ...
7,\n\n#6Tie\n\n\nOverall Score: \n\n\n\n\n\n\n,"\nUniversity of Chicago \n\nChicago, IL\n",\n\n \n\n \n\n ...
8,\n\n#6Tie\n\n\nOverall Score: \n\n\n\n\n\n\n,\nUniversity of North Carolina—​Chapel Hill \n...,\n\n \n\n \n\n ...
9,\n\n#9\n\n\nOverall Score: \n\n\n\n\n\n\n,\nUniversity of California—​Los Angeles \n\nLo...,\n\n \n\n \n\n ...

In [8]:
if not os.path.exists('../data/raw_data'):
    os.makedirs('../data/raw_data')

if not os.path.exists('../data/clean_data'):
    os.makedirs('../data/clean_data')

In [9]:
# Write out the raw rankings data to the raw_data folder in the data folder
us_news_df_raw.to_csv("../data/raw_data/us_news_rankings_RAW.csv", index=False)

In [10]:
us_news_df_raw = pd.read_csv("../data/raw_data/us_news_rankings_RAW.csv")
us_news_df_raw = us_news_df_raw[0:len(us_news_df_raw)]
us_news_df_raw.head()

,rank,school,score
0,\n\n#1Tie\n\n\nOverall Score: \n\n\n\n\n\n\n,"\nPrinceton University \n\nPrinceton, NJ\n",\n\n \n\n \n\n ...
1,\n\n#1Tie\n\n\nOverall Score: \n\n\n\n\n\n\n,\nUniversity of California—​Berkeley \n\nBerke...,\n\n \n\n \n\n ...
2,\n\n#1Tie\n\n\nOverall Score: \n\n\n\n\n\n\n,\nUniversity of Wisconsin—​Madison \n\nMadison...,\n\n \n\n \n\n ...
3,\n\ndblclick('rankingsEmbed')\n,NaN,NaN
4,\n\n#4Tie\n\n\nOverall Score: \n\n\n\n\n\n\n,"\nStanford University \n\nStanford, CA\n",\n\n \n\n \n\n ...

In [11]:
us_news_df_raw["school_location"] = "NaN"
us_news_df_raw["school_name"] = "NaN"
us_news_df_raw["rank"] = us_news_df_raw.loc[:,('rank')].replace(r"\D",  "", regex = True)
us_news_df_raw["score"] = us_news_df_raw.loc[:,('score')].str.extract("(\d.\d)", expand=False)

In [12]:
us_news_df_raw.head(10)

,rank,school,score,school_location,school_name
0,1,"\nPrinceton University \n\nPrinceton, NJ\n",4.7,NaN,NaN
1,1,\nUniversity of California—​Berkeley \n\nBerke...,4.7,NaN,NaN
2,1,\nUniversity of Wisconsin—​Madison \n\nMadison...,4.7,NaN,NaN
3,,NaN,NaN,NaN,NaN
4,4,"\nStanford University \n\nStanford, CA\n",4.6,NaN,NaN
5,4,\nUniversity of Michigan—​Ann Arbor \n\nAnn Ar...,4.6,NaN,NaN
6,6,"\nHarvard University \n\nCambridge, MA\n",4.5,NaN,NaN
7,6,"\nUniversity of Chicago \n\nChicago, IL\n",4.5,NaN,NaN
8,6,\nUniversity of North Carolina—​Chapel Hill \n...,4.5,NaN,NaN
9,9,\nUniversity of California—​Los Angeles \n\nLo...,4.4,NaN,NaN

In [13]:
for i in range(0,len(us_news_df_raw)+1):
    try: 
        us_news_df_raw["school_name"][i] = us_news_df_raw["school"].str.split("\n\n")[i][0]
        us_news_df_raw["school_location"][i] = us_news_df_raw["school"].str.split("\n\n")[i][1]
    except:
        us_news_df_raw["school_name"][i] = "NaN"
        us_news_df_raw["school_location"][i] = "NaN"
us_news_df_raw["school_name"] = us_news_df_raw.loc[:,('school_name')].replace(r"\n",  "", regex = True)
us_news_df_raw["school_location"] = us_news_df_raw.loc[:,('school_location')].replace("\n",  "", regex = True)

In [14]:
cols = ["rank", "school_name", "school_location"]
us_news_df_raw = us_news_df_raw[cols]
us_news_df_raw.head()

  rank                          school_name school_location
0    1                Princeton University    Princeton, NJ
1    1  University of California—​Berkeley     Berkeley, CA
2    1    University of Wisconsin—​Madison      Madison, WI
3                                       NaN             NaN
4    4                 Stanford University     Stanford, CA

In [15]:
us_news_df_clean = us_news_df_raw[us_news_df_raw['school_name']!="NaN"]

In [16]:
us_news_df_clean.head()

  rank                          school_name school_location
0    1                Princeton University    Princeton, NJ
1    1  University of California—​Berkeley     Berkeley, CA
2    1    University of Wisconsin—​Madison      Madison, WI
4    4                 Stanford University     Stanford, CA
5    4   University of Michigan—​Ann Arbor    Ann Arbor, MI

In [17]:
us_news_df_clean.to_csv("../data/clean_data/us_news_rankings_clean.csv")